__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
ENV/
env/
env.bak/
venv.bak/

*.swp
*.swo
*.swn
*.bak
*~
.DS_Store
.idea/
.vscode/
